@charset 'utf-8';

@import '@/assets/css/base.scss';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a:link,
a:visited {
   text-decoration: none;
   color: $base-font-color;
}

body {
   font-family: $primary-font;
   font-size: $base-font-size;
}

.container {
   width: 1300px;
   margin: 0 auto;
   background-color: $primary-color;

   @media screen and (max-width: 1300px) {
      width: 100%;
   }
}

.main_color {
   background-color: $primary-color;
}
