@charset "utf-8";

body{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    height: 300vh;
}

.container{
    width: 1360px;
    margin: 0 auto;
}

.bg-gray{
    /* css 우선순위 때문에 !important를 붙이는게 좋음 */
    background-color: #ddd !important;
}

.bg-orange{
    background-color: orange !important;
}

.hd{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* z-index 값은 int의 최대 범위, 일반적인 경우 100 이하면 충분하다. */
    z-index: 100;
}

.bg-sky{
    background-color: skyblue !important;
}

.menuWrap{
    display: flex;
    justify-content: space-between;
    /* height: 70px; */
    padding: 10px 0;
    /* align-items: center; */
}

/* 항상 flex는 정렬하고자 하는 개체의 부모에 적용 */
.menuWrap .gnb ul{
    display: flex;
}

.menuWrap .gnb li{
    width: 150px;
    height: 50px;
}

.menuWrap .gnb a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menuWrap .gnb a:hover{
    font-weight: bold;
}

.menuWrap .sns{
    display: flex;
    align-self: center;
    gap: 10px;
}

.menuWrap .sns li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4b4bc0;
    color: white;
}

.visual{
    min-height: 400px;
    height: 100vh;
    margin-bottom: 20px;
}

.top{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: red;
    border-radius: 50%;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.banner .card{
    width: 384px;
    height: 580px;
}

.banner .card .cardText{
    padding: 10px 20px;
}

.banner .card .cardText h3{
    margin-bottom: 10px;
}

.banner .card .imgWrap img{
    transition: 0.3s;
}

.banner .card .imgWrap:hover img{
    /* 개체 이동 및 변경 */
    transform: translate(-10px,-10px) scale(1.05);
    /* rotate(5deg) */
    box-shadow: 30px 30px 20px rgba(0,0,0,0.3);
}