@charset "utf-8";

$color-b: #000;
$color-b2: #666;
$color-b3: #999;
$color-black: #252525;
$color-white: #fff;
$color-white2: #f8f8f8;
$white-white3: #eee;
$color-grey1: #444;
$color-grey2: #707070;
$color-grey3: #b4b4b4;
$color-grey4: #9e9e9e;
$color-grey5: #c8c8c8;
$bg-grey1: #f3f6f8;
$brand-color-main: #4e2fc1;
$brand-color-sub: #6e4ede;
$brand-color-sub2: #4d24df;
$border-color2: #e2e2e2;
$color-red: #e40000;
$pine-green: #020a0a;
